.sidebaroption
{
    display: flex;
    align-items: center;
    color: gray !important;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer !important;
    /* background-color: blue; */
    /* justify-content: space-between; */
}

.sidebaroption > h3
{
    flex: 1;
    margin-left:10px ;
    font-size: 0.8em;
    font-weight: 400;
}
.sidebaroption > p
{
    display: none;
    font-size: 0.8em;
    /* font-weight: 300; */
}
.sidebaroption > .MuiSvgIcon-root
{
    padding: 5px;
    font-size: 1.25em;
}

.sidebaroption:hover,
.sidebaroption:hover > p,
.sidebaroption:hover > h3
{
    font-weight: 800 !important;
    background-color: whitesmoke;
}
.sidebaroption__active > p,
.sidebaroption:hover > p
{
    display: inline;
}

.sidebaroption__active,
.sidebaroption__active > p,
.sidebaroption__active >h3
{
    font-weight: 800 !important;
    background-color:#d3e3fd;
}
