.app
{
  height: 100vh;
}
.app__body
{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* height: 100vh; */
  overflow: hidden;
}
.sendMessage{
  position: absolute;
  /* padding: 1em; */
  /* margin-right: 2em; */
  width: 40%;
  height: 70%;
  bottom: 0;
  right: 4em;
  z-index: 999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: -1px 1px 4px 1px rgba(0,0,0,0.4);
}